{% comment %} <div class="team-person text-center">
                  <img loading="lazy" src="{{doc_info.doc_image}}" class="img-fluid" alt="team">

                  <h6> <a href="{%url 'doc_info' i.id %}" class="name">{{doc_info.doc_name}} </a> </h6>

                  <h6> <a href="">{{i.doc_name}}</a></h6>
                  <p>{{doc_info.departments}}</p>
                  <p>{{doc_info.doctor}}</p>
                  <p>{{doc_info.doc_desc}}</p>
                  <p>{{i.doctor}}</p>

                </div>

                <li class="nav-item @@appointment">
                    <a class="nav-link" href="{% url 'appointment'  %}">Appointment</a>
                  </li> {% endcomment %}
