
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>GfG</title>
</head>
 
<body>
    <p>{{msg}}</p>
    <form action="{% url 'add_data' %}" method="post"> 
        {% csrf_token %}
        <fieldset>
            <legend>Personal Details</legend>
 
            <p>
                <label>
                    Salutation
                    <br />
                    <select name="salutation">
                        <option>--None--</option>
                        <option>Mr.</option>
                        <option>Ms.</option>
                        <option>Mrs.</option>
                        <option>Dr.</option>
                        <option>Prof.</option>
                    </select>
                </label>
            </p>
 
            <p>
                <label>First name: <input name="firstName" /></label>
            </p>
 
            <p>
                <label>Last name: <input name="lastName" /></label>
            </p>
 
            <p>
                Gender :
                <label><input type="radio" name="gender"
                              value="male" />
                      Male   
                  </label>
                <label><input type="radio" name="gender"
                              value="female" />
                      Female   
                  </label>
            </p>
 
            <p>
                <label>Email:<input type="email"
                                    name="email" />
                  </label>
            </p>
 
            <p>
                <label>Date of Birth:<input type="date"
                                            name="birthDate">
                  </label>
            </p>
 
            <p>
                <label>
                    Address :
                    <br />
                    <textarea name="address" cols="30"
                              rows="3">
                      </textarea>
                </label>
            </p>

            <form method="POST" action="{% url 'checkbox' %}">
                {% csrf_token %}
            <label>Language:
                <br>
                <input type="checkbox" 
                       name="checkbox_values"  
                       {% comment %} name="C"  {% endcomment %}
                       value="yes">C
                <br>
                <input type="checkbox" 
                       name="checkbox_values" 
                       {% comment %} name="C++"  {% endcomment %}
                       value="yes">C++
                <br>
                <input type="checkbox" 
                       name="checkbox_values" 
                       {% comment %} name="Java"  {% endcomment %}
                       value="yes">Java
                <br>
                <input type="checkbox" 
                       name="checkbox_values" 
                       {% comment %} name="Python"  {% endcomment %}
                       value="yes">Python
            </label>
            </form>
 
            <p>
                <button type="submit">Submit</button>
            </p>
 
        </fieldset>
    {% comment %} <a href="{% url 'show_data' %}"><input type="button"value="Show Data"></a> {% endcomment %}
            
    </form>
</body>
</html>